p{
    color: rgb(13, 14, 13);
    width: 200px;
    border:1px solid rgb(0, 0, 0)
}

p,
li,
h1{
    color: rgb(15, 15, 15);
}

a{
    color: red;
}

html{
    background-color: rgb(68, 85, 141);
}

body{
    width: 700px;
    margin: 0 auto;
    background-color: rgb(35, 176, 231);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding: 20px 0;
    color: rgb(99, 6, 248);
    text-shadow: 3px 3px 1px black;
}

img{
  width:600px;
  height:aauto;
}

.noBorder{
  border: none;
  width: auto;
}